@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
/* 전체 레이아웃 */
.wrap{
    width: 1200px;
    background-color: antiquewhite;
    margin: 0 auto;
}
/* 상단 */
.header{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
/* 상단 메뉴 */
.top{
    width: 300px;
    float: left;
    margin: 0;
    font-size: 40px;
}
.menu{
    width: 900px;
    height: 100%;
    background-color: chartreuse;
    float: left;
    position: relative;
}
.menu ul{
    list-style: none;
    background-color: aliceblue;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.menu ul li{
    float: left;
    padding: 10px 50px;
    background-color: bisque;
}
/* 이미지 슬라이드 */
.imgslide{
    width: 100%;
    height: 300px;
}
/* 공지사항 */
.notice{
    background-color: darkcyan;
    width: 600px;
    height: 300px;
    float: left;
    padding: 10px;
}
.notice h3{
    padding: 5px;
}
/* 오른쪽 아이콘(사진) */
.imgicon{
    width: 600px;
    height: 300px;
    float: left;
    background-color: rgb(255, 255, 255);
    /* display: block; */
}
.imgicon li{
    list-style: none;
    float: left;
}
.imgicon img{
    border-radius: 100px;
    display: block;
    padding: 20px;
}
.imgicon a{
    display: block;
    text-align: center;
}

/* 하단메뉴 */
.btmenu{
    width: 100%;
    height: 100px;
    float: left;
    background-color:rgb(255, 255, 255);
    padding: 10px;
}
.btmenu hr{
    border: 2px solid #333;
    width: 100%;
    /* margin: 10px; */
}
.btmenu ul{
    width: 100%;
    list-style: none;
    float: left;
}
.btmenu ul > li {
    float: left;
    margin: 10px;
}